// media query mixin
$desktop: 640px;
$font-size: 24px;

$m: 1.5;
$l: 2;
$xl: 4;

// the key trick is here. We increase the min-width if we increase the font-size
@mixin media-desktop {
  html.font-size--s & {
    @media (min-width: $desktop) {
      @content;
    }
  }
  
  html.font-size--m & {
    @media (min-width: $desktop * $m) {
      @content;
    }
  }
  
  html.font-size--l & {
    @media (min-width: $desktop * $l) {
      @content;
    }
  }
  
  html.font-size--xl & {
    @media (min-width: $desktop * $xl) {
      @content;
    }
  }
}

// we control the page font-size by changing the html element's font-size
html {
  font-size: $font-size;
  
  &.font-size--s {
    font-size: $font-size;
  }
  
  &.font-size--m {
    font-size: $font-size * $m;
  }
  
  &.font-size--l {
    font-size: $font-size * $l;
  }
  
  &.font-size--xl {
    font-size: $font-size * $xl;
  }
}

.menu {
  padding: 24px 1rem;
  
  &__desktop,
  &__mobile {
    display: flex;
    justify-content: center;
  }
  
  &__desktop {
    display: none;
  }
  
  // show text menu items for Desktop and show burger menu for Mobile
  @include media-desktop {
    &__mobile {
      display: none;
    }
    
    &__desktop {
      display: flex;
    }
  }
  
  &__item {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
  }
  
  &__burger {
    width: 50px;
    height: 48px;
    position: relative;
    cursor: pointer;
    
    div {
      position: absolute;
      height: 5px;
      width: 100%;
      background: #333;
      border-radius: 9px;
      left: 0;
      
      &:nth-child(1) {
        top: 0;
      }
      
      &:nth-child(2) {
        top: 12px;
      }
      
      &:nth-child(3) {
        top: 24px;
      }
    }
  }
}


.font-scale {
  display: flex;
  justify-content: center;
  align-items: baseline;
  
  &__size {
    margin: 0.25rem;
    cursor: pointer;
    
    &.active,
    &:hover {
      text-decoration: underline;
    }
  }
  
  &__size--s {
    font-size: $font-size;
  }
  
  &__size--m {
    font-size: $font-size * $m;
  }
  
  &__size--l {
    font-size: $font-size * $l;
  }
  
  &__size--xl {
    font-size: $font-size * $xl;
  }
}